/* Default = DARK MODE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('dzong.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Light Mode */
body.light {
    background: url('dzoning.jpg') no-repeat center center/cover;
}
body {
    margin: 0;
  font-family: 'Segoe UI', sans-serif;

    /* Bhutanese Dzong background */
    background: url('punakha-dzong.jpg') no-repeat center center/cover;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark mode (default) */
.card {
    background: rgba(0, 0, 0, 0.4);
   
}

/* Light mode */
body.light .card {
    background: rgba(255, 255, 255, 0.6);
   
}

/* Dark */
.card input {
    background: rgba(255,255,255,0.2);
 
}

/* Light */
body.light .card input {
    background: rgba(0,0,0,0.1);
   
}

#toggleMode {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px;
    border-radius: 50%;
    border: 
    none;
    cursor: pointer;

    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
}
/* Glass container */
.card {
    width: 320px;
    padding: 30px;

    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    text-align: center;
}

/* Headings */
.card h2 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 20px;
}

/* Inputs */
.card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border-radius: 10px;
    border: none;
    outline: none;

    background: rgba(255,255,255,0.2);
 
}

/* Placeholder color */
.card input::placeholder {
   color:black;
}

/* Button */
.card button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(to right, #d4fc79, #96e6a1);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* Link */
.link {
    margin-top: 15px;
    font-size: 13px;
}

.link a {
    color: #fff;
    text-decoration: underline;
}

/* Remember me */
.remember {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
}